<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="app.name">mytool</Property>
    <Property name="log.path">/tmp/logs</Property>
  </Properties>
  <Appenders>
    <RollingFile name="RollingFile" fileName="${log.path}/${app.name}.log"
      filePattern="${log.path}/${app.name}.log.%d{yyyy-MM-dd}.gz"
      ignoreExceptions="false">
      <PatternLayout
        pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %-5level %logger{1} - %t - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="30 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="tk.hongkailiu.mytool" level="info"/>
    <Root level="error">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>